body,td,th {
	font-family: tahoma;
	font-size: 14px;
	color: #737373;
	vertical-align: top;
	line-height:16px;
}
img{border:0;}
a {
	font-family: tahoma;
	font-size: 14px;
	color: #4F4F4F;
}
a:visited {
	color: #4F4F4F;
}
a:hover {
	color: #4F4F4F;
}
a:active {
	color: #4F4F4F;
}
.style-s{
	color:#737373;
}

#menu-sp {
	padding-top: 5px;
}
#menu-item {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.content {
	background-image: images2/menu-separater.png;
	border: medium;
}



